html,body{
  margin: 0;
    background: #E3EDCD;
    font-size: 100%;
}
:root {
    font-size: 100%;
}
.tv-body{
  width: 100%;
  background: #E3EDCD;
   /* background-color: #FAF9DE; */
  display: flex;
  flex-direction: column;
  visibility: visible;
  height: 100%;
}
.tv-header{
    /*  overflow-x: hidden;  justify-content: space-around;*/
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 3vh;
    justify-content: space-around
}
.tv-footer{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around
}
.tv-text{
    text-align: center;
    font-size: 4vh;
    color: white;
}

.tv-content{
    flex: 1;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(5, 20%);
}

.tv-item{
    padding: 0.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 1.3vw;
}
.tv-channel{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-grow:1;
  justify-content: space-around
}
.tv-tab-flex{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-grow:1;
  justify-content: space-around
}
.tv-tab-grid{
  flex: 1;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(6, 16.6%);
}
.tv-grid-6{
  grid-template-columns: repeat(6, 16.6%);
}
.tv-grid-4{
    grid-template-columns: repeat(4, 25%);
}
.tab-grid-item{
  white-space: normal; /* 或者 pre-wrap，根据需求选择 */
  word-break: break-all; /* 允许在任何字符之后断行 */
}
.tv-hide{
  display: none;
}

.tv-flex-around{
    justify-content: space-around;
}
.tv-menu{
  overflow-x: hidden;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around
}
.tv-btn{
   font-size: 3rem;
   padding: 0.25rem 0.5rem;
    line-height: 4rem;
   border-radius: 1rem;
    text-decoration: none;
   align-content: center;
    vertical-align: middle;
   /* width: fit-content;*/
    white-space: normal;
    text-align: center;
    color: black;
    cursor: pointer;
    word-spacing: normal;
    background-color: #5ca9e8;
    flex-shrink: 0;
 /* background-color: #5ca9e8;*/
}
.tv-btn-vw{
  padding: 0.5vw 1vw;
  font-size: 2.5vw;
  margin: 0.5vw 0.3vw; 
  border-radius: 2vw;
}
.tv-font-bold{
  font-weight: bold;
}
.tv-btn-choose{
  background-color: #16baaa;
  color: white;
}
.tv-bg-yellow{
  background-color:#E3EDCD;
}
.tv-front{
  font-size: 2vw;
}
.tv-btn-warm{
  background-color: #ffb800;
}

.tv-active{
    background-color: #71b371;
}